/* general settings */
@font-face {
    font-family: 'apercu';
    src: url('./fonts/apercu_bold_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_bold_pro.otf') format('opentype');
    src: url('./fonts/apercu_medium_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_medium_pro.otf') format('opentype');
    src: url('./fonts/apercu_regular_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_regular_pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{  
    margin: 0;
    padding: 0;
    font-family: 'apercu', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  }
* , *::after , *::before {
    box-sizing: border-box;  
 }
 body{
    /* overflow-x: hidden; */
    background-color:rgb(255, 255, 255);
    color: rgb(25, 25, 25);
    
    
}
a{
    color: inherit;
}
.width{
    max-width: 80%;
    margin: auto;
}
/* header */
.head{
    background-color: rgb(19, 19, 19);
    padding: 24px;
     line-height: 1.5;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    justify-content: center;
}
@media screen and (max-width:1200px) {
    .logo-text-nav{
        display: none;
    }
    .content1 .con1-1 .rightside .headtext {
        font-size: 64px;
    } 
    .content2 .con2-1 .h2{
        font-size: 48px;
        letter-spacing: -0.02em;
        line-height: 100%;
        font-weight: normal;
        text-align: center;  
      }
     .content4 .con4-2 img.logo2{
    
        width: 216px;
        height: 216px;
        padding: 32px;
  
    }
   .con4-1 p{
        font-size: 24px;

    }
    .con4-1 a{
        font-size: 16px;
    }
      .main .content5 .con5-2 a{
        font-size: 16px;
        font-weight: 400;
    }
     .content5 .con5-3 a{
        font-size: 16px;
        font-weight: 700;
    }
    .main .content5 .con5-2 .con5-2-2{
        width: 48%;
        padding: 24px;}
}
@media screen and (max-width:1024px){

    .sign a {
        display: none;
    }
    .navigation .menu-list .item-svg{
        display: none;
    }
    .sign i{
        display: inline-block!important;
        cursor: pointer;
    }
     body .main .content1 .con1-1 { 
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

    }

    body .main .content1 .con1-1 .rightside{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4%;
        padding-left: 0%;  

    }
 

    .rightside .maintext ,.rightside .headtext , .rightside2 .maintext3 {
        text-align: center;
    }
     .con1-2 .logobar {
        display: flex;
        align-items: center;
        justify-content: space-between;
         padding-top: 2%;
        flex-wrap:wrap;
       width: 100%;
       justify-content:center ;
       cursor: pointer;
       margin: auto;
        
      }

     
      .con2-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        width: 80%;
        padding: 96px 0px;

        
   
    } 
    .video2 .video{
        width: 75%;
        margin: auto;
        height: auto;
        
    }
     .con2-2 .leftside , .content3-1 .con3-1{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width: 100%;
        padding: 0%;
        padding-bottom: 35px;
        
    }
    .headtext2 , .headtext3{
        text-align: center;
        font-size: 30px!important;
        
    }
     .leftside .maintext2 , .rightside2 .maintext3{
        font-size: 16px;
        text-align: center;

    }
    .content3 .content3-1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-content: space-between;
        width: 80%;
        padding: 0%;
        padding-bottom : 96px;
        
        
    }
    .content3-1 .rightside2 {
display: flex;
flex-direction: column;
align-items: center;
padding: 0%;
padding-bottom: 35px;

    }
    .main .content3 .rightside2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        
            }
.maintext2 {
    padding-right: 0%!important;
}
.content4{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
div.content4{
    padding-top: 0;
}
 .main .content4 .con4-1{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 80%;
padding-bottom: 32px;
}
.main .content4 .con4-1 p {
font-size: 24px;
}
.main .content4 .con4-1 a
{
font-size: 16px;
}
 .content4 .con4-2{
display: none!important;
}
.content4 .con4-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;
    width: 110%;
    gap:2%;
    padding: 0% 2%;
}
 .con4-3 img.logo2{
    
    width: 184px;
    height: 184px;
    padding: 24px;
    
   
}
.main .content5 .con5-2 {
    justify-content: center;
    padding: 80px 60px;
    gap: 20px ;
}

.main .content5 .con5-2 .con5-2-2{
width: 47%;
padding: 24px;

}
}
   @media screen and (max-width:724px) {

    .head{ background-color:rgb(19, 19, 19) ;
        padding: 16px;
         line-height: 1.2;
        display: flex;
        align-items: center;
        color: white;
        font-size: 12px;
        justify-content: center;
        text-wrap: nowrap;

}
 .rightside .headtext  {
    font-size: 48px!important;
    
}
  .content2 .con2-1 .h2{
    font-size: 36px!important;
    letter-spacing: -0.02em;
    line-height:122%;
    font-weight: normal;
    text-align: center;  
  }
  .main .content5 .con5-2 .con5-2-2{
    width: 100%;
    margin: auto;
    padding: 24px;
   }
  
}
   



header{
    background-color: rgba(255, 255, 255, 0.98);
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1001;
    
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 88px;
    max-width: 1535px;
    margin: auto;
    width: 100%;
    flex-shrink: calc(100%-20px);
  

    }
    /* logo in header start */
  .logo-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .logo6{
    padding-right: 8px;
  }
  .logo-text-nav{
    width: 120px;
    height: 24px;
    overflow: hidden;
    position: relative;

  }
  .logo-text-nav img{
    display: block;
    position: absolute;
    left:0;
    top: 0;
    width: 108px;
    height: 24px;
    transition: all 0.5s;

  }
  .logo-navbar:hover .logo-text-nav img{
    left: -108px;
  }

 /* logo in header end */
 .navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
 }

.menu-list {
padding: 0px 5px;
    display: flex;
    align-items: center;
    list-style: none; 
    justify-content: space-between;
    justify-content: center;
}
.item-svg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    padding: 0% 3%;
    gap: 6%;     
}


.item-svg:hover img{
    opacity: 0.33;
    transform: rotate(0.5turn);
  
   
}

.item1{
    text-decoration: none; 
    font-size: 16px;
    text-wrap: nowrap;
}
.login:hover , .item-svg:hover{
    color: rgb(207, 207, 206);
}
/* but-header */
.sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.login {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
}

.signin{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    transition:all 0.5s;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 10px;
    

}
.signin:hover
{
    background-color:rgb(207, 207, 206) ;
    border-color:rgb(207, 207, 206) ;
}
.sign a{
    text-wrap: nowrap;
}
.sign i{
    display: none;
}
/* but-header */
/* content1 start */
.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    max-width: 1535px;
    margin: auto;
     }
.con1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-bottom: 48px;
   
}
.rightside {
    display: flex;
    flex-direction: column;
    align-items:start; 
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    height: 100%; 
    padding-left: 2%;
}
.video1 {
   width: 100%;
   height: 100%;
  }
  .video1 .video  {
   width: 100%;
   height: 100%;
  }
  .headtext  {
    font-size: 80px;
    letter-spacing: -0.02em;
    line-height: 1;
  }
  .maintext{
    text-wrap: balance;
    margin-top: 32px;
  }

  .maintext , .maintext2 , .maintext3{
    font-size: 20px;
    
  }
  .start  ,.signup2 {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 14px 28px;
  border: 1px solid rgb(25, 25, 25);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 32px;
    transition: all 0.5s;
   
  }
  .start:hover , .signup2:hover
  {
      background-color:rgb(207, 207, 206) ;
      border-color:rgb(207, 207, 206) 
  }
  .con1-2{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:  64px 16px ;

  }
  .logobar {
    display:flex;
    align-items: center;
    justify-content: center;
     padding-top: 2%;
    flex-wrap:nowrap;
   cursor: pointer;
   width: 80%;
  }
  .logobar img{
    padding: 0 3%;
    height: 35px;
    width: auto;
  }
  .text2{
    display: flex;
    justify-content: center;
    font-size: 20px;
     letter-spacing: -0.01em;
     line-height: 1.2;
  padding-bottom: 2%;
  align-items: center;
    text-align: center;
  }
/* content1 end */

/* content2 start */
.content2 , .content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    max-width: 1535px;
    margin: auto;
  } 
  .con2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 96px 80px 0px 80px;
    width: 100%;

  }
  .h2{
    font-size: 64px;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: normal;
    text-align: center; 
    
  }
  .con2-2 , .content3-1{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 96px 0px;
   

  }
  .leftside {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    padding-right: 20px;
    width: 100%;

    
}
.video2 .video , .video3 .video{
    width: 100%;
    height: auto;
    
}
.maintext2  , .maintext3{
    padding-top: 26px;
}
.maintext2{
    padding-right: 20%;
}

  /* content2 end  */
  /* comtent3 start  */
   

.video2,  .video3 {
display: flex;
align-items: center;
width: 100%;
}


.headtext2 ,.headtext3{
    font-size: 48px;
    letter-spacing: -0.02em;
    line-height: 100%;
    
}
.con3-1{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    width: 100%;
}

.rightside2{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
}
.rightside2 div{
    padding-left: 20%;
}

/* content3 end  */
/* content4 start  */

.content4{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    max-width: 1535px;
    margin: auto;
    padding: 96px 80px;
    
}
.content4 .con4-1 {
    display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   width: 25%;
   height: 100%;
}  
.content4 .con4-2{
    display: flex;
    gap: 32px;
    width: 75%;
} 
@media screen and (min-width:1024px) {
    .content4 .con4-3{
        display: none;
    }  
}

.con4-1 p , .con4-1 a
{
    display: flex;
    margin: 0px;
    padding: 0%;
   
     }
.con4-1 p{
    font-size: 30px;
    margin: 0%;
    padding-bottom: 32px;
}
img.logo2{
    background-color: #f7f7f6;
    width: 256px;
    height: 256px;
    padding: 32px;
    border-radius: 25%;
   
}
/* conten4 end  */
/* content5 start  */
 .content5{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1535px;
    margin: auto;
 }
 .con5-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 96px 80px 0px 80px;
    gap: 16px;
 }

.p5{
    font-size: 24px;
    text-align: center;
}
.h5{
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0px; 
    letter-spacing: -0.02em;
        line-height: 100%;
}
.con5-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 96px 80px;
    gap: 24px 32px;
    width: 100%;
    
}
.con5-2-2{
    background-color: #f7f7f6;
    padding: 32px;
    border-radius: 24px;
    transition: all 0.5s; 
    width: calc((100%/3) - 24px);
    
    
}
@media screen and (min-width:724px){
    .con5-2-2:hover{
        background-color: #000000;
        border-radius: 25px;
        color: white;
    }
}

.h5-1{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 4%;
}
.ul5-1{
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    


}
.ul5-1 li a {
    text-decoration: none;
    padding-left: 2px;
    font-size: 20px;
    font-weight: 400;
}
.ul5-1 li a:hover{
    text-decoration: underline;
}
.ul5-1 li{
    padding-bottom: 2%;
}
.con5-3{
display: flex;
text-align: center;


}
.con5-3 a{
    font-size: 20px;
    font-weight: 700;
}
.ul5-1 i{
    font-size: 15px;
}
/* .content5 end  */


.h7{
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0px; 
    padding-top: 120px;
    padding-bottom: 2%;
}
.p7{
    font-size: 24px;
    text-align: center;
    padding-bottom: 4%;
}
.h8{
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.content8{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
 
   
}
.con8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; 
}
.p8{
    font-size: 24px;
    font-weight: 400;
       display: flex;
     text-align: center;
    
}

   

.footer{
    background-color: #191919;
    color: white;
   
  
    
   
}
.hf{
    font-size: 64px;
    text-align: center;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    padding-bottom: 15px;
}

.p10{
    font-size: 20px;
    font-weight: 400;
    padding: 0px;
    line-height: 30px;
    margin: 0px;
    padding-bottom: 50px;
    
}
.p9{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: -500px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.but11{
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
border-color: white;
    font-weight: bold;
    width: 140px;
    height: 42px;
    margin-left: 10px;

}
.but11:hover{
    background-color:rgb(207, 207, 206) ;
    border-color: transparent;
}
.but10{
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 10px;

    font-weight: bold;
  width: 140px;
  height: 42px;

}
.but10:hover{
    background-color:rgb(207, 207, 206) ;
    border-color: transparent;
}
.fbut{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    }
    .f-mainlist{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
    
        padding-bottom: 100px;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
       
        
    }
    .f-mainlist div{
        display: flex;
        flex-direction: column;
       align-items: start;
        
       
    }
    .hf3{
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0;
     
       
    }
    .f-mainlist a{
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        margin: 0;
        padding-left: 0;     
        
    }
    .f-mainlist ul{
        list-style: none;
        margin: 0;
        padding-top: 50px;
        padding-left: 0px;
         
    }
    .f-mainlist li{
        padding-top: 20px;
    }
    .footer2{
        border-top: 1px solid rgb(61, 61, 60);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-size: 14px;
font-weight: 400;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10%;
padding-right: 10%;
    }
 .foot4{
        display: flex;
        justify-content: space-between;
        column-gap: 25px;
        padding: 0px 16px;
        
    }
    .footer2 select {
        background-color: transparent;
        border-color: transparent;
        color: white;
        
    }
    .lan{
        color: white;
        display: flex;
    }

    
    /* .curve{
        background-color: white;
        height: 50px;
        border: 200px solid white;
        border-radius: 120px;
       
    } */



