/* general settings */
@font-face {
    font-family: 'apercu';
    src: url('./fonts/apercu_bold_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_bold_pro.otf') format('opentype');
    src: url('./fonts/apercu_medium_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_medium_pro.otf') format('opentype');
    src: url('./fonts/apercu_regular_italic_pro.otf') format('opentype');
    src: url('./fonts/apercu_regular_pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{  
    margin: 0;
    padding: 0;
    font-family: 'apercu', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  }
* , *::after , *::before {
    box-sizing: border-box;  
 }
 body{
    overflow-x: hidden;
    background-color:rgb(255, 255, 255);
    color: rgb(25, 25, 25);
}
a{
    color: inherit;
}
.width{
    max-width: 80%;
    margin: auto;
}
/* header */
.head{
    background-color: rgb(19, 19, 19);
    padding: 24px;
     line-height: 1.5;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    justify-content: center;
}
@media screen and (max-width:1200px) {
    .logo-text-nav{
        display: none;
    }
    .content1 .con1-1 .rightside .headtext {
        font-size: 64px;
    } 
    .content2 .con2-1 .h2{
        font-size: 48px;
        letter-spacing: -0.02em;
        line-height: 100%;
        font-weight: normal;
        text-align: center;  
      }
     .content4 .con4-2 img.logo2{
    
        width: 216px;
        height: 216px;
        padding: 32px;
  
    }
   .con4-1 p{
        font-size: 24px;

    }
    .con4-1 a{
        font-size: 16px;
    }
      .main .content5 .con5-2 a{
        font-size: 16px;
        font-weight: 400;
    }
     .content5 .con5-3 a{
        font-size: 16px;
        font-weight: 700;
    }
    .main .content5 .con5-2 .con5-2-2{
        width: 48%;
        padding: 24px;}
.content6 .con6-2 .con6-2-1 .h6-2{
    font-size: 64px;
        font-weight: 400;
}
.content6 .con6-2 .con6-2-1 .p6-2{
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}

}
@media screen and (max-width:1024px){

    .sign a {
        display: none;
    }
    .navigation .menu-list .item-svg{
        display: none;
    }
    .sign i{
        display: inline-block!important;
        cursor: pointer;
    }
     body .main .content1 .con1-1 { 
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

    }

    body .main .content1 .con1-1 .rightside{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4%;
        padding-left: 0%;  

    }
    .rightside .headtext{
        font-size:48px!important;  
       
    }
    .rightside .headtext br{
        display: none;
    }
  .content1 .con1-1 {
        width: 70%;
        margin: auto;
    }
    .rightside .maintext{
    font-size: 20px;
        letter-spacing: -0.01em;
        line-height: 1.2;
        font-weight: 300;
    }

    .rightside .maintext ,.rightside .headtext , .rightside2 .maintext3 {
        text-align: center;
    }
     .con1-2 .logobar {
        display: flex;
        align-items: center;
        justify-content: space-between;
         padding-top: 2%;
        flex-wrap:wrap;
       width: 100%;
       justify-content:center ;
       cursor: pointer;
       margin: auto;
        
      }

     
      .con2-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        width: 80%;
        padding: 96px 0px;

        
   
    } 
    .video2 .video{
        width: 75%;
        margin: auto;
        height: auto;
        
    }
     .con2-2 .leftside , .content3-1 .con3-1{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width: 100%;
        padding: 0%;
        padding-bottom: 35px;
        
    }
    .headtext2 , .headtext3{
        text-align: center;
        font-size: 30px!important;
        
    }
     .leftside .maintext2 , .rightside2 .maintext3{
        font-size: 16px;
        text-align: center;

    }
    .content3 .content3-1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-content: space-between;
        width: 80%;
        padding: 0%;
        padding-bottom : 96px;
        
        
    }
    .content3-1 .rightside2 {
display: flex;
flex-direction: column;
align-items: center;
padding: 0%;
padding-bottom: 35px;

    }
    .main .content3 .rightside2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        
            }
.maintext2 {
    padding-right: 0%!important;
}
.content4{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
div.content4{
    padding-top: 0;
}
 .main .content4 .con4-1{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 80%;
margin: auto;
padding-bottom: 32px;
}
.main .content4 .con4-1 p {
font-size: 24px;
text-align: center;
}
.main .content4 .con4-1 a
{
font-size: 16px;
text-align: center;
}
 .content4 .con4-2{
display: none!important;
}
.content4 .con4-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;
    width: 150%;
    gap:2%;
    padding: 0% 2%;
}
 .con4-3 img.logo2{
    
    width: 184px;
    height: 184px;
    padding: 24px;
    
   
}
.main .content5 .con5-2 {
    justify-content: center;
    padding: 80px 60px;
    gap: 20px ;
}

.main .content5 .con5-2 .con5-2-2{
width: 47%;
padding: 24px;

}
.con5-1 .h5{
    font-size: 48px;
}
.con5-1 .p5{
    font-size: 16px;
}
.content6{
    padding: 80px 60px 96px 60px;
}
.content6 .con6-1{
    padding: 0%;
}
.content6 .con6-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    padding-top: 80px;
    row-gap: 48px;
    
}
.content6 .con6-1 .h6{
    font-size: 48px;
        letter-spacing: -0.02em;
        line-height: 100%;
}
.content6 .con6-1 .p6{
       font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

.content6 .con6-2 .con6-2-1{
align-items: center;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
.content6 .con6-2 .con6-2-1 .p6-2{
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    align-items: start;
    text-align: left;
}
.content6 .con6-2 .con6-2-1 .h6-2{
    
    font-size: 64px;
        font-weight: 400;
}
}
   @media screen and (max-width:724px) {

    .head{ background-color:rgb(19, 19, 19) ;
        padding: 16px;
         line-height: 1.2;
        display: flex;
        align-items: center;
        color: white;
        font-size: 12px;
        justify-content: center;
        text-wrap: nowrap;

}
 .rightside .headtext  {
    font-size: 48px!important;
    
}
.content1 .con1-1 {
    width: 85%;
    margin: auto;
    padding-bottom: 60px ;
}
  .content2 .con2-1 .h2{
    font-size: 36px!important;
    letter-spacing: -0.02em;
    line-height:122%;
    font-weight: normal;
    text-align: center; 
   width: 85%; 
   margin: auto; 
  }
 
  .main .content5 .con5-2 .con5-2-2{
    width: 100%;
    margin: auto;
    padding: 24px;
   }
   .content6{
    padding: 64px 32px 96px 32px;
}

.content6 .con6-2{
    padding-top: 64px;    
    
}
.content6 .con6-1 .h6{
    font-size: 36px;
        letter-spacing: -0.02em;
        line-height: 122%;
}
.content6 .con6-1 .p6{
       font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

.content6 .con6-2 .con6-2-1{
align-items: center;
    flex-direction: column;
   width: 100%;
}
.content6 .con6-2 .con6-2-1 .p6-2{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    align-items: center;
    text-align: center;
}
   }
 

   

header{
    background-color: rgba(255, 255, 255, 0.98);
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1001;
    
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 88px;
    max-width: 1535px;
    margin: auto;
    width: 100%;
    flex-shrink: calc(100%-20px);
  

    }
    /* logo in header start */
  .logo-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .logo6{
    padding-right: 8px;
  }
  .logo-text-nav{
    width: 120px;
    height: 24px;
    overflow: hidden;
    position: relative;

  }
  .logo-text-nav img{
    display: block;
    position: absolute;
    left:0;
    top: 0;
    width: 108px;
    height: 24px;
    transition: all 0.5s;

  }
  .logo-navbar:hover .logo-text-nav img{
    left: -108px;
  }

 /* logo in header end */
 .navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
 }

.menu-list {
padding: 0px 5px;
    display: flex;
    align-items: center;
    list-style: none; 
    justify-content: space-between;
    justify-content: center;
}
.item-svg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    padding: 0% 3%;
    gap: 6%;     
}


.item-svg:hover img{
    opacity: 0.33;
    transform: rotate(0.5turn);
  
   
}

.item1{
    text-decoration: none; 
    font-size: 16px;
    text-wrap: nowrap;
}
.login:hover , .item-svg:hover{
    color: rgb(207, 207, 206);
}
/* but-header */
.sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.login {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
}

.signin{
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    transition:all 0.5s;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 10px;
    

}
.signin:hover
{
    background-color:rgb(207, 207, 206) ;
    border-color:rgb(207, 207, 206) ;
}
.sign a{
    text-wrap: nowrap;
}
.sign i{
    display: none;
}
/* but-header */
/* content1 start */
.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    max-width: 1535px;
    margin: auto;
     }
.con1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-bottom: 48px;
   
}
.rightside {
    display: flex;
    flex-direction: column;
    align-items:start; 
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    height: 100%; 
    padding-left: 2%;
}
.video1 {
   width: 100%;
   height: 100%;
  }
  .video1 .video  {
   width: 100%;
   height: 100%;
  }
  .headtext  {
    font-size: 80px;
    letter-spacing: -0.02em;
    line-height: 1;
  }
  .maintext{
    
    text-wrap: balance;
    margin-top: 32px;
  }

  .maintext , .maintext2 , .maintext3{
    font-size: 20px;
    
  }
  .start  ,.signup2 {
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 14px 28px;
  border: 1px solid rgb(25, 25, 25);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 32px;
    transition: all 0.5s;
   
  }
  .start:hover , .signup2:hover
  {
      background-color:rgb(207, 207, 206) ;
      border-color:rgb(207, 207, 206) 
  }
  .con1-2{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:  64px 16px ;

  }
  .logobar {
    display:flex;
    align-items: center;
    justify-content: center;
     padding-top: 2%;
    flex-wrap:nowrap;
   cursor: pointer;
   width: 80%;
  }
  @media screen and (max-width:724px){

   .con1-2 .logobar {
        display:flex;
        align-items: center;
        justify-content: space-between;
         padding-top: 2%;
        flex-wrap:nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
       cursor: pointer;
       width: 100%;
      }
      .con1-2 .logobar img{
        height: 25px;
      } 
   
  }
  .logobar img{
    padding: 0 3%;
    height: 35px;
    width: auto;
  }
  .text2{
    display: flex;
    justify-content: center;
    font-size: 20px;
     letter-spacing: -0.01em;
     line-height: 1.2;
  padding-bottom: 2%;
  align-items: center;
    text-align: center;
  }
/* content1 end */

/* content2 start */
.content2 , .content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    max-width: 1535px;
    margin: auto;
  } 
  .con2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 96px 80px 0px 80px;
    width: 100%;

  }
  .h2{
    font-size: 64px;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: normal;
    text-align: center; 
    
  }
  .con2-2 , .content3-1{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 96px 0px;
   

  }
  .leftside {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    padding-right: 20px;
    width: 100%;

    
}
.video2 .video , .video3 .video{
    width: 100%;
    height: auto;
    
}
.maintext2  , .maintext3{
    padding-top: 26px;
}
.maintext2{
    padding-right: 20%;
}

  /* content2 end  */
  /* comtent3 start  */
   

.video2,  .video3 {
display: flex;
align-items: center;
width: 100%;
}


.headtext2 ,.headtext3{
    font-size: 48px;
    letter-spacing: -0.02em;
    line-height: 100%;
    
}
.con3-1{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    width: 100%;
}

.rightside2{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
}
.rightside2 div{
    padding-left: 20%;
}

/* content3 end  */
/* content4 start  */

.content4{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    max-width: 1535px;
    margin: auto;
    padding: 96px 80px;
    
}
.content4 .con4-1 {
    display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   width: 25%;
   height: 100%;
}  
.content4 .con4-2{
    display: flex;
    gap: 32px;
    width: 75%;
} 
@media screen and (min-width:1024px) {
    .content4 .con4-3{
        display: none;
    }  
}

.con4-1 p , .con4-1 a
{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0%;
   
     }
.con4-1 p{
    font-size: 30px;
    margin: 0%;
    padding-bottom: 32px;
}
img.logo2{
    background-color: #f7f7f6;
    width: 256px;
    height: 256px;
    padding: 32px;
    border-radius: 25%;
   
}
/* conten4 end  */
/* content5 start  */
 .content5{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1535px;
    margin: auto;
padding-bottom: 96px;

   
 }
 .con5-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 96px 80px 0px 80px;
    gap: 16px;
 }

.p5{
    font-size: 24px;
    text-align: center;
}
.h5{
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0px; 
    letter-spacing: -0.02em;
        line-height: 100%;
}
.con5-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 96px 80px;
    gap: 24px 32px;
    width: 100%;
    
}
.con5-2-2{
    background-color: #f7f7f6;
    padding: 32px;
    border-radius: 24px;
    transition: all 0.5s; 
    width: calc((100%/3) - 24px);
    
    
}
@media screen and (min-width:724px){
    .con5-2-2:hover{
        background-color: #000000;
        border-radius: 25px;
        color: white;
    }
}

.h5-1{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 4%;
}
.ul5-1{
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    


}
.ul5-1 li a {
    text-decoration: none;
    padding-left: 2px;
    font-size: 20px;
    font-weight: 400;
}
.ul5-1 li a:hover{
    text-decoration: underline;
}
.ul5-1 li{
    padding-bottom: 2%;
}
.con5-3{
display: flex;
text-align: center;

}
.con5-3 a{
    font-size: 20px;
    font-weight: 700;
}
.ul5-1 i{
    font-size: 15px;
}
/* .content5 end  */
/* content6 start  */
.content6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1535px;
    margin: auto; 
}
.con6-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding: 96px 80px 0px 80px;
}
.h6{
    font-size: 64px;
     letter-spacing: -0.02em;
     line-height: 100%;
     font-weight: normal;
}
.p6{
    font-size: 24px;
     font-weight: 400;
     line-height: 133%;
   
}
.con6-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 96px 80px;
    padding-bottom: 20px;
}
.con6-2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; 
    gap:32px;
    width:15%;
    
}
.h6-2{
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.p6-2{
    font-size: 24px;
    font-weight: 400;
    line-height: 133%;
 display: flex;
 text-align: center; 
}
/* content6 end  */
   /* footer start  */
   .footer{
    background-color: #191919;
    color: white; 
    position: relative;     
}
.f0 span{
    display: block;
    width: 100%;
    background-color:rgb(255, 255, 255) ;
    border-radius: 0px 0px 100px 100px;
}
.footer1{
    max-width: 1535px;
    margin: auto; 
} 
.f1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 96px 48px;
}
.hf1{
    font-size: 64px;
    text-align: center;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    padding-bottom: 15px;
    letter-spacing: -0.02em;
  line-height: 1.1;
}

.pf1{
    font-size: 20px;
    font-weight: 700;
    padding: 40px 0px ;
    line-height: 30px;
    margin: 0px;
    padding-bottom: 10px;
  
}
.lif1{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
}
.fbut{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    margin: auto;
    gap: 24px;
    
    }
    .fbut1{
        display: inline-block;
        color: rgb(25, 25, 25);
        background-color: rgb(255, 255, 255);
        padding: 8px 16px;
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        width: 140px;
        cursor: pointer;
        transition: all 0.5s;
        text-wrap: nowrap;
    }
    .fbut1 a{
        font-weight: 500;
        font-size: 16px;
        height: 42px;
        text-wrap: nowrap;
        text-decoration: none;
        
    }
    .fbut1:hover{
        background-color:rgb(207, 207, 206) ;
        border-color: rgb(207, 207, 206);
    }
    .fbut2{
        display: inline-block;
        color:rgb(255, 255, 255) ;
        background-color:rgb(25, 25, 25) ;
        padding: 8px 16px;
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        width: 140px;
        cursor: pointer;
        text-wrap: nowrap;
        transition: all 0.5s;
    }
    .fbut2 a{
        font-weight: 500;
        font-size: 16px;
        height: 42px;
        text-decoration: none;
        text-wrap: nowrap;
        
    }
    .fbut2:hover{
        background-color:rgb(207, 207, 206) ;
        border-color: rgb(207, 207, 206);
    }

     .footer1 .f2{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        padding: 80px 32px;  
        gap: 15px;   
        width: 90%;
        margin: auto;
    }
    .f2 div{
        display: flex;
        flex-direction: column;
       align-items: start;
    }

    .hf3{
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0;
     
       
    }
    .f2 li{
        padding-bottom: 20px;
    }
    .f2 ul{
        list-style: none;
        margin: 0;
        padding-top: 32px;
        padding-left: 0px;
         
    }
    .f2 ul li a{
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        margin: 0;
        padding-left: 0; 
        text-wrap: nowrap;    
        
    }
    .li-hover{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        transition: all 0.5s;
    }
    .li-hover:hover{
        color: rgb(207, 207, 206);
    }
    .af2{
        transition: transform  .2s ease-in;
    }
     .af2:hover{
        display: block;
        transform: translateX(8px);
    }
    .f3{
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
         font-size: 14px;
        font-weight: 400;
        padding: 32px 40px;
    }
    .logo-f{
       display: flex;
       gap: 8px;
       flex-wrap: wrap;
    }
    .logo-f img{
        cursor: pointer;
        height: 20px;
        transition: all 0.5s;
    }
    .logo-f img:hover{
        opacity: 0.5;
    }
    .f3-0{
        display: flex;
        align-items: center;
        gap: 10px;
    }

 .f3-1{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
    }
   .f3-1 .af3{
        cursor: pointer;
        transition: all 0.2s;
    }
    .f3-1 .af3:hover{
        opacity: 0.7;
    }

    .lan select {
        background-color: transparent;
        border-color: transparent;
        color: rgb(255, 255, 255);

        
    }
    .lan{
        color: rgb(255, 255, 255);
        display: flex;
        border: none;
        transition: all 0.2s;
    }
    .lan:hover{
        opacity: 0.7;
    }
   .border-end{
    
    display: block;
    width: 100%;
    position: absolute;
    bottom: 100px;
    background: none;
    border-top: 1px solid rgb(61, 61, 60);
   }
   .footer .footer1  .ulfs{
    display: none;

   }
   @media screen and (max-width:1024px){
 .f1 .hf1{
    font-size: 48px;
        letter-spacing: -0.02em;
        line-height: 1.1;
}
.pf1 , .lif1{
    font-size: 16px;
    font-weight: 400;
}
.footer1 .f2{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding: 80px 32px;  
    gap: 45px;   
    width:95%;
    margin: auto;
}
.lan{
    display: none;
}
.f3-1{
    display: none;
}
.ulfs ul li .af3{
    text-decoration: underline;
    text-wrap: wrap!important;
    padding-top: 0%;
    padding-bottom: 32px;
    font-size: 14px;
}
.ulfs ul{
    padding-top: 0%;
}
.ulfs{
    display: flex !important;;
    flex-direction: column;
    padding: 0;
   

   }
  .ulfs ul li .lan{
    display: flex;
    flex-direction: row;
  }

    
   }
   @media screen and (max-width:724px) {
    .fbut{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        margin: auto;
        gap: 24px;

   }
   .footer1 .f2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px 32px;    
    width: 70%;
    padding-bottom: 150px;
    margin: auto;
}


}
 
/* footer end  */
    
   



